<div id="root" class="neighborhood">
		
	<ul class="large-block-grid-4">

	<% @neighborhoods.each do |neighborhood| %>

		<li class="block">
			<%= link_to neighborhood.name, neighborhood_path(neighborhood), :class => 'neighborhood-name' %>
			 <%= link_to image_tag(neighborhood.img_url), neighborhood_path(neighborhood), :class => 'neighborhood-img' %>

		</li> 
	<% end %>
	</ul>
</div>

