<div id="root" class="neighborhood">
	<ul class="large-block-grid-4">
	<% @neighborhoods.each do |neighborhood| %>
		<li class="block">
			<%= link_to neighborhood.name, neighborhood_path(neighborhood) %>
		</li> 
	<% end %>
	</ul>
</div>

