<div id="root" class="neighborhood">
	<ul class="large-block-grid-4">
	<% @neighborhoods.each do | hood| %>
		<li class="block">
			<%= link_to (image_tag(hood.img_url)), hood %>
		</li> 
	<% end %>
	</ul>
</div>


