<%= form_for @neighborhood do |neighborhood| %>
<label>Neighborhood:</label>
<%= neighborhood.text_field :name %>
<label><%= neighborhood.text_field :img_url %></label>
<%= neighborhood.submit %>
<% end %>	
