<%= form_for @neighborhood do |neighborhood| %>
<label>Area:</label>
<%= neighborhood.text_field :name %>
<label>Image URL:</label>
<%= neighborhood.text_field :img_url %>
<%= neighborhood.submit :class => "btn button" %>
<% end %>	
