/* globals */

h1,h2,h3,h4,h5,li, a {font-family: 'Lato', 'Arimo', 'Varela', 'Lato', Helvetica; font-weight: normal;}


ul {padding: 0; list-style:none;}

a {text-decoration: none; color: red}
/*containers*/


#wrapper {min-height: 600px; height: auto; max-width: 1240px; width: auto; min-width: 960px; margin: 0 auto; background: #e1e1e1; padding: 20px;}

nav ul{height: auto;  width: auto; z-index:999; list-style:none; display: inline-block;}

nav ul li { height: 100%; padding: 10px 0; background: #e1e1e1; display: inline-block;position: relative;}
	
	li.user-is {font-weight: bold; color: orange;}

footer {position: absolute; bottom:0; min-height: 10%; width: auto; background: #e1e1e1; margin: 20px;}

form.login {height: 400px; width: 360px; padding: 20px; margin: 0 auto; z-index: 9999; background: rgba(0,0,0,.5);}


label {display: inline;}
input {display: inline;}

.button-group {background: #c2c2c2;}
.button-group li {display: inline; width: auto;}
.button-group li a {width: 100%;}


a.button { background: rgba(31,159,255,.25);}
a.button:hover {background: rgba(31,159,255,.5);}

	.upper.public {background: 0;}
	.upper.private {margin-top: 5px;}

	.upper.public ul.site-content {max-width: 40%;}
	.upper.public ul.user-options {max-width: 25%; float: right; text-align: right;position: relative;}

	.upper.public ul.site-content {}


	.upper.private ul.site-content {max-width: 40%;}
	.upper.private ul.user-options {max-width: 55%; text-align: right; float: right; text-align: right;}



/* content */ 


#map {float: left; margin-right: 20px;  border: 1px solid lime; display: inline-block;}


.login-status {float: right;}




	


