<h1> New Stoop Sale </h1>
<<<<<<< HEAD
=======
<%= render partial: '/shared/errors', locals: {object: @sale} %>
>>>>>>> e006a240a7b9b6b1430710ea0e84c3fd4f86434d
<%= render partial: 'sales/partials/form' %>


