

			<ul>
				<li><%= link_to 'Stoop Sales', sales_path %> </li>
				<li><%= link_to 'New Stoop Sale', new_sale_path %> </li>
				<li><%= link_to 'Items', items_path %> </li>
				<li><%= link_to 'New Item', new_item_path %> </li>
			</ul>


